{{ $allKillTeams := where .Site.RegularPages "Params.kill_team" "ne" nil }}
{{ $sorted := sort $allKillTeams "Date" "asc" }}
{{ range $i, $page := $sorted }}
  {{ if eq $page $ }}
    {{ if gt $i 0 }}
      {{ $.Scratch.Set "ktPrev" (index $sorted (sub $i 1)) }}
    {{ end }}
    {{ $nextIdx := add $i 1 }}
    {{ if lt $nextIdx (len $sorted) }}
      {{ $.Scratch.Set "ktNext" (index $sorted $nextIdx) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $ktPrev := .Scratch.Get "ktPrev" }}
{{ $ktNext := .Scratch.Get "ktNext" }}
{{ if or $ktPrev $ktNext }}
<hr style="visibility: hidden;">
<ul class="pager">
  {{ if $ktNext }}
  <li class="previous">
    <a href="{{ $ktNext.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ $ktNext.Title }}">
      &larr; Neueres Kill Team<br>
      <span>{{ $ktNext.Title }}</span>
    </a>
  </li>
  {{ end }}
  {{ if $ktPrev }}
  <li class="next">
    <a href="{{ $ktPrev.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ $ktPrev.Title }}">
      &Auml;lteres Kill Team &rarr;<br>
      <span>{{ $ktPrev.Title }}</span>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
