{{ with .Params.kill_team }}
{{ partial "warhammer-explainer.html" $ }}
{{- with .comment }}
<div class="killteam-info__comment">{{ . | markdownify }}</div>
{{- end }}
<div class="killteam-info">
  {{- with .fluff }}
  <blockquote class="killteam-info__fluff">{{ . | markdownify }}</blockquote>
  {{- end }}
  <h5 class="killteam-info__title">Team-Informationen</h5>
  <table class="table table-condensed killteam-info__table">
    <tbody>
      {{- with .affiliation }}
      <tr>
        <th>Fraktion:</th>
        <td>{{ . }}{{- with $.Params.kill_team.faction }} | {{ . }}{{- end }}</td>
      </tr>
      {{- end }}
      {{- with .playstyle }}
      <tr>
        <th>Spielstil:</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- with .model_count }}
      <tr>
        <th>Modelle:</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- $boxes := slice }}
      {{- with .box_ger }}{{- $boxes = $boxes | append . }}{{- end }}
      {{- with .box_eng }}{{- $boxes = $boxes | append . }}{{- end }}
      {{- if $boxes }}
      <tr>
        <th>Box:</th>
        <td>{{ delimit $boxes " / " }}</td>
      </tr>
      {{- end }}
      {{- with .release_date }}
      <tr>
        <th>Erscheinungsdatum:</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- with .finished_date }}
      <tr>
        <th>Fertiggestellt:</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
{{ end }}
