{{ with .Params.kill_team }}
<div class="killteam-info">
  {{- with .comment }}
  <blockquote class="killteam-info__comment">{{ . }}</blockquote>
  {{- end }}
  {{- with .fluff }}
  <blockquote class="killteam-info__fluff">{{ . }}</blockquote>
  {{- end }}
  <table class="table table-condensed killteam-info__table">
    <tbody>
      {{- with .playstyle }}
      <tr>
        <th>Spielstil</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- with .model_count }}
      <tr>
        <th>Modelle</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- with .release_date }}
      <tr>
        <th>Erscheinungsdatum</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
      {{- with .finished_date }}
      <tr>
        <th>Fertiggestellt</th>
        <td>{{ . }}</td>
      </tr>
      {{- end }}
    </tbody>
  </table>
</div>
{{ end }}
