{{ define "container" }}
{{ $pageSize := .Site.Params.thehobby.pagerSize | default 8 }}
{{ $paginator := .Paginate .Pages $pageSize }}
{{ range $paginator.Pages }}
<div class="image-gallery thehobby-gallery">
  <a href="{{ .RelPermalink }}">
    {{- $postTitle := .Title -}}
    {{- $images := .Resources.ByType "image" -}}
    {{- $original := $images.GetMatch "{*feature*,*cover*,*thumbnail*}" -}}
    {{- with $original -}}
    {{- $thumbnail := $original.Fill (default "360x190 q85 CatmullRom Center" $.Site.Params.fotoPostPrevThumbResOptions)
    -}}
    <img class="post-content-preview-thumbnail" src="{{ $thumbnail.RelPermalink }}" alt="{{ $postTitle }}"
      title="{{ $postTitle }}"><br />
    {{- end -}}
    {{ $postTitle }}
  </a>
</div>
{{ end }}

{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
<ul class="pager">
  {{ if $paginator.HasPrev }}
  <li class="previous">
    <a href="{{ .Paginator.Prev.URL }}">&larr; Neuere Beitr&auml;ge</a>
  </li>
  {{ end }}
  {{ if $paginator.HasNext }}
  <li class="next">
    <a href="{{ .Paginator.Next.URL }}">&Auml;ltere Beitr&auml;ge &rarr;</a>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
