<div class="post-preview">
  <a href="{{ .RelPermalink }}">

    {{- $images := $.Resources.ByType "image" -}}
    {{- $original := $images.GetMatch "{*feature*,*cover*,*thumbnail*}" -}}
    {{- with $original -}}
    {{- $thumbnail := $original.Fill (default "160x160 q85 CatmullRom Center" $.Site.Params.postPrevThumbResOptions) -}}
    <img class="post-content-preview-thumbnail" src="{{ $thumbnail.RelPermalink }}">
    {{- end -}}

    <h2 class="post-title">{{ .Title }}</h2>
    {{ with .Params.subtitle }}
    <h3 class="post-subtitle">{{ . }}</h3>
    {{ end }}
    <div class="post-content-preview">
      {{ if isset .Params "description" }} {{ index .Params "description" }}
      {{ else }}
      {{ .Summary | plainify | safeHTML | truncate 180 }}
      {{ end }}
    </div>
  </a>
  <p class="post-meta">
    Gepostet von {{ with $.Params.author }} {{ $.Params.author }} {{ else }} {{ .Site.Params.author }} {{ end }} am {{
    .Date.Format "Mon, Jan 2, 2006" }}
  </p>
</div>
<hr>
