{{ define "main" }}
{{ $pages := .Site.RegularPages }}
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <div id='tag_cloud' class="tags tags-sup js-tags">
        <a class="tag-button--all" data-encode="" href="#">
          Show All
          <sup>{{ len $pages }}</sup>
        </a>

        {{ range .Site.Taxonomies.tags.ByCount }}
      <a data-sort="{{ printf " %04d" (sub (len $pages) .Count) }}" data-encode="{{ .Page.Title | lower | urlquery }}"
        class="tag-button tag-color__{{ .Count }}" title="{{ .Page.Title }}" rel="{{ .Count }}" href="#">
        {{ .Page.Title }}
        <sup>{{ .Count }}</sup>
      </a>
      {{ end }}
      </div>

      <!-- Article List -->
      <div class="mini-post-list js-result">

        {{ range $pages.GroupByDate "2006" }}

        <section>
          <span class="fa listing-seperator">
            <span class="tag-text">{{ .Key }}</span></span>
            {{ range .Pages }}
            {{ .Render "li" }}
            {{ end }}
        </section>
        {{ end }}

      </div>
    </div>
  </div>
</div>

{{ end }}
{{ define "custom_css"}}
  {{ $pages := .Site.RegularPages }}

  {{- if not (eq (len $.Site.Taxonomies.tags) 0) -}}

    {{- $lens := slice -}}
    {{- range $.Site.Taxonomies.tags -}}
      {{- $lens = $lens | append .Count -}}
    {{- end -}}

    {{- $lens = $lens | uniq | sort -}}

    {{- $max := index $lens (sub (len $lens) 1) -}}
    {{- $min := index $lens 0 -}}

    {{- $spread := sub $max $min -}}
    {{- if eq $spread 0 }}{{ $spread = 1 }}{{ end -}}

  <style>
  {{- range $lens -}}

  {{- $sassTemplate := resources.Get "sass/tagcolor-template.scss" -}}
  {{- $params := dict "weighting" (sub . $min) "spread" $spread "count" . -}}

  {{ $style := $sassTemplate | resources.ExecuteAsTemplate (printf "tagscolors__%d.css" .) $params | resources.ToCSS }}
  {{ with $style }}
    {{- .Content | safeCSS -}}
  {{ end }}

  {{- end -}}
  </style>
{{ end }}
{{ end }}
